@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 231 48% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 42 100% 50%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 231 48% 63%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 200 14% 26%;
    --foreground: 0 0% 98%;
    --card: 200 14% 30%;
    --card-foreground: 0 0% 98%;
    --popover: 200 14% 26%;
    --popover-foreground: 0 0% 98%;
    --primary: 231 48% 63%;
    --primary-foreground: 0 0% 98%;
    --secondary: 200 14% 35%;
    --secondary-foreground: 0 0% 98%;
    --muted: 200 14% 35%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 42 100% 50%;
    --accent-foreground: 200 14% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 14% 35%;
    --input: 200 14% 35%;
    --ring: 231 48% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
